<%= render partial: "application" %>

<div class="show-box">
  <div class="show-head">
    <h2><%= @blog.title %></h2>
    <h4><%= @blog.user.nickname %></h6>
  </div>
  <div class="show-main">
    <img class="show-image" src="<%= @blog.image %>">
    <div class='show-text'><p><%= @blog.text %><p></div>
  </div>
</div>

</body>
</html>
